<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <title></title>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width"/>
      <link rel="stylesheet" href="styles/main.css"/>

      <link rel="profile" href="http://microformats.org/profile/hcard"/>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <div id="person-list"></div>
    </div>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <script id="person-template" type="text/template">
      <div class="vcard">

          <span class="fn n">
            <span><%= salutation %> <%= title %></span>
            <span class="given-name"><%= foreName %></span>
            <span class="family-name"><%= sureName %></span>
          </span>

          <div><%= jobTitle %></div>

          <div class="contact">
            <dl>
              <dt>Phone:</dt>
              <dd class="tel"><%= telephoneNumber %></dd>

              <dt>
                <span class="tel"><span class="type">Fax</span>:
              </dt>
              <dd>
                <span class="value"><%= faxNumber %></span></span>
              </dd>

              <dt>Email:</dt>
              <dd class="email"> <a href="mailto:<%= email %>"> <%= email %> </a> </dd>

            </dl>
          </div>
      </div>
    </script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/lodash.min.js"></script>
    <script src="scripts/vendor/backbone-min.js"></script>

    <script src="scripts/main.js"></script>
    <script src="scripts/routes/application-router.js"></script>

    <script src="scripts/models/person-model.js"></script>
    <script src="scripts/collections/person-collection.js"></script>
    <script src="scripts/views/person-list-view.js"></script>
    <script src="scripts/views/person-view.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
